*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 10px;
}

.nav-bar{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffdb8;
}

.nav-menu{
    display: none;
}

.nav-mobile{
    display: none;
}

.nav-list{
    width: 60%;
    display: flex;
    flex-direction: row;
}

.nav-list li{
    list-style: none;
    margin: 0 20px;
    font-size: 18px;
}

.nav-icons img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.main{
    background-color: #ffe8ba;
    
}

.main-banner{
    width: 100%;
}

.main-products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #ebcaab;
}
.main-products #editar{
    display: none;
}

.main-products div{
    background-color: #ebcaab;
    flex-basis: 33%;
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5%;
}

.main-products button{
    margin-top: 10px;
    width: 100px;
    height: 25px;
    background-color: #ffcebd;
}

.main-products .main-items{
    width: 40%;
    background-color: white;
}

.icons-next{
    display: none;
}

.next{
    display: flex;
    justify-content: center;
    list-style: none;
}

.next a{
    text-decoration: none;
}

.next li{
    background-color: #ffcebd;
    border: 1px black solid;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10%;
}

.main-tutorial{
    margin-top: 20px;
    display: flex;
    width: 100%;
}

.main-tutorial iframe{
    margin: 0 10px;
    width: 800%;
    padding: 20px;
}

.tutorial-p{
    text-align: justify;
    font-size: 24px;
    margin: 20px 0;
    display: inline-block;
    background-color: #ffcebd;
    padding: 5%;
    border-radius: 5%;
}

.footer{
    /* position: fixed;
    bottom: 0; */
    height: auto;
    width: 100%;
    background-color: #fffdb8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* celulares */
@media screen and (max-width: 480px) {
    h1 {
            text-align: center;
            margin-top: 10px;
        }
    
        .nav-bar {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
            background-color: #fffdb8;
        }

        .nav-menu{
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right: auto;
            margin-left: 1%;
        }

        .nav-mobile{
            list-style: none;
            width: 100%;
            height: 100%;
            
        }

        .nav-mobile a{
            text-decoration: none;
        }

        .nav-mobile li{
            width: 100%;
            height: 100px;
            padding: 0 100px ;
            margin: 0 auto;
        }
        
        #check{
            display: none;
        }

        #check:checked ~ .nav-mobile{
            display: flex;
            position: fixed;
            top:0;
            flex-direction: column;
            font-size: 20px;
            width: 100vw;
            justify-content: center;
            align-content: center;
            background-color: #fffdb8;
        }


        .close-img{
            width: 20px;
            height: 20px;
            margin-bottom: 100px;
            margin-left: 50px;
        }

        .nav-list {
            display: none;
        }
    
        .nav-list li {
            list-style: none;
            margin: 0 20px;
            font-size: 18px;
        }
    
        .nav-icons img {
            width: 20px;
            height: 10%;
            margin-right: 20px;
        }

        .elecdom-logo{
            width: 30%;
        }
    
        .main {
            background-color: #ffe8ba;
    
        }
    
        .main-banner {
            display: none;
            width: 100%;
        }
        
        .h1-productos{
            margin-top: 0   ;
        }

        .main-products {
            width: 95%;
            height: 75vw;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            background-color: #ebcaab;
            font-size: 8px;
            margin: 0 auto;
            border-radius: 5%;
        }

        .main-products #editar {
            display: flex;
        }

        
        .transition{
            animation: moverDerecha 0.2s alternate-reverse;
        }

        @keyframes moverDerecha {
            from{
                transform: translateX(0);
            }
            to {
                transform: translateX(10px);
            }
        }

        .transition-l {
            animation: moverIzq 0.2s alternate-reverse;
        }

        @keyframes moverIzq {
            from {
                transform: translateX(0);
            }

            to {
                transform: translateX(-10px);
            }
        }


        #primero, #segundo, #tercero, #cuarto, #quinto, #sexto {
            display: none;
        }
    
        .main-products div {
            background-color: #ebcaab;
            width: 100%;
            height: 90%;
            border: 1px solid black;
            border-radius: 5%;
        }

        .main-products div img{
            width: 60%;
            height: 60%;
        }
        
        .icons-next{
            width: 8%;
            height: 20%;
            display: inline-block;
        }

        .main-products button {
            margin-top: 10px;
            width: 100px;
            height: 25px;
            background-color: #ffcebd;
            font-size: 10px;
        }
    
        .main-products .main-items {
            width: 80%;
            background-color: white;
        }
    
        .next {
            display: none;
            justify-content: center;
            list-style: none;
        }
    
        .next a {
            text-decoration: none;
        }
    
        .next li {
            background-color: #ffcebd;
            border: 1px black solid;
            margin-top: 10px;
            padding: 10px;
            border-radius: 10%;
        }
    
        .main-tutorial {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
    
        .main-tutorial iframe {
            margin: 0 10px;
            width: 50%;
            height: 50%;
            padding: 20px 0px;
        }

        .tutorial-p{
            width: 80%;
            margin: 20px 0;
            display: inline-block;
            background-color: #ffcebd;
            padding: 5%;
            border-radius: 5%;
            font-size: 8px;
        }

        .footer {
            /* position: fixed;
        bottom: 0; */
            height: auto;
            width: 100%;
            background-color: #fffdb8;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
/* tablets */
@media screen and (max-width: 640px) {

}

